/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/poppins-v15-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/poppins-v15-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/poppins-v15-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/poppins-v15-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/poppins-v15-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/poppins-v15-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/poppins-v15-latin-500.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/poppins-v15-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./fonts/poppins-v15-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/poppins-v15-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/poppins-v15-latin-700.svg#Poppins')
      format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Poppins';
}

// app global css in SCSS form
.bg-turbodega-primary {
  background-color: #246084;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}
.background-grey {
  background-color: #f8f9fb;
}
.text-tabs-primary {
  color: #246084;
}
.text-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.002em;
  color: #52575c;
}
.search.q-btn__content {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.001em;
  color: #ffffff;
  background-color: $blue;
  max-width: 77px;
}
.select-order.q-field--dense .q-field__append {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #52575c;
}
.q-field--standard .q-field__control:after {
  color: white;
  transform: none;
}
.page-title {
  font-weight: bold;
  font-size: 42px;
  color: $blue;
}
